{% extends 'layout.html' %}

{% block title %}
BiswasAgro - Land Entry
{% endblock %}

{% block main-content %}
<div class="form-container">
    <div class="form-box">
        <h2>{{heading}}</h2>
            <form action="{% url 'inv:addup_land' row_id=row_id %}" method="post">
                {% csrf_token %}
                <label for="{{ form.gher.id_for_label }}">{{ form.gher.label }}:</label>
                {{ form.gher }}
                {{ form.gher.errors }}

                <label for="{{ form.mousa.id_for_label }}">{{ form.mousa.label }}:</label>
                {{ form.mousa }}
                {{ form.mousa.errors }}

                <label for="{{ form.dag.id_for_label }}">{{ form.dag.label }}:</label>
                {{ form.dag }}
                {{ form.dag.errors }}

                <label for="{{ form.khotian.id_for_label }}">{{ form.khotian.label }}:</label>
                {{ form.khotian }}
                {{ form.khotian.errors }}

                <label for="{{ form.amount.id_for_label }}">{{ form.amount.label }}:</label>
                {{ form.amount }}
                {{ form.amount.errors }}

                <label for="{{ form.plane_land.id_for_label }}">{{ form.plane_land.label }}:</label>
                {{ form.plane_land }}
                {{ form.plane_land.errors }}

                <label for="{{ form.par_cannel.id_for_label }}">{{ form.par_cannel.label }}:</label>
                {{ form.par_cannel }}
                {{ form.par_cannel.errors }}

                <label for="{{ form.owners.id_for_label }}">{{ form.owners.label }}:</label>
                {{ form.owners }}
                {{ form.owners.errors }}

                <label for="{{ form.comment.id_for_label }}">{{ form.comment.label }}:</label>
                {{ form.comment }}
                {{ form.comment.errors }}

            <div class="button-group">
                <button type="button" onclick="history.back()" class="cancel-btn">Cancel</button>
                <button type="submit" class="save-btn">Save</button>
            </div>
</form>
</div>

{% endblock %}
