{% extends 'layout.html' %}

{% block title %}
BiswasAgro - Units Entry
{% endblock %}

{% block main-content %}
<div class="form-container">
    <div class="form-box">
        <h2>{{heading}}</h2>
            <form action="{% url 'inv:addup_units' row_id=row_id %}" method="post">
                {% csrf_token %}
                <label for="{{ form.unit.id_for_label }}">{{ form.unit.label }}:</label>
                {{ form.unit }}
                {{ form.unit.errors }}

            <div class="button-group">
                <button type="button" onclick="history.back()" class="cancel-btn">Cancel</button>
                <button type="submit" class="save-btn">Save</button>
            </div>
</form>
</div>

{% endblock %}
