{% extends 'layout.html' %}

{% block title %}
BiswasAgro - Items Entry
{% endblock %}

{% block main-content %}
<div class="form-container">
    <div class="form-box">
        <h2>{{heading}}</h2>
            <form action="{% url 'inv:addup_items' row_id=row_id %}" method="post">
                {% csrf_token %}
                <label for="{{ form.sector.id_for_label }}">{{ form.sector.label }}:</label>
                <select name="{{form.sector.name}}" id="{{ form.sector.id_for_label }}">
                    {% for sec in sectors %}
                      {% if request.session.orig.sector == sec %}
                         <option value="{{ sec }}" selected>{{ sec }}</option>
                      {% else %}
                         <option value="{{ sec }}">{{ sec }}</option>
                      {% endif %}
                    {% endfor %}
                </select>
                {{ form.sector.errors }}

                <label for="{{ form.item_name.id_for_label }}">{{ form.item_name.label }}:</label>
                {{ form.item_name }}
                {{ form.item_name.errors }}

                <div class="button-group">
                    <button type="button" onclick="history.back()" class="cancel-btn">Cancel</button>
                    <button type="submit" class="save-btn">Save</button>
                </div>
            </form>
</div>

{% endblock %}
