{% extends 'layout.html' %}

{% block title %}
Fish Purchase Table
{% endblock %}

{% block main-content %}
        <div class="table-wrapper">
            <h2>Fish Purchase Table</h2>
            <div class="table-container">
                <table>
                        <tr>
                            <th>Date</th>
                            <th>Fish Name</th>
                            <th>Buy From</th>
                            <th>Buy Amount</th>
                            <th>Fish Qty</th>
                            <th>Price</th>
                            <th>Fish To</th>
                            <th>Status</th>
                            <th>Voucher</th>
                            <th>Comments</th>
                            {% if request.session.user.role == 'Admin' or request.session.user.role == 'Manager' %}
                            <th>Actions</th>
                            {% endif %}
                        </tr>
                    <tbody>
                    {% for a_page in page_objs %}
                        <tr>
                            <td>{{a_page.date}}</td>
                            <td>{{a_page.fishname}}</td>
                            <td>{{a_page.buyfrom}}</td>
                            <td>{{a_page.buyamount}}</td>
                            <td>{{a_page.fishquantity}}</td>
                            <td>{{a_page.price}}</td>
                            <td>{{a_page.fishto}}</td>
                            <td>{{a_page.status}}</td>
                            <td>{{a_page.vouchar}}</td>
                            <td>{{a_page.comments}}</td>
                            {% if request.session.user.role == 'Admin' or request.session.user.role == 'Manager' %}
                            <td>
                                <a href="{% url 'inv:addup_fishbuy' row_id=a_page.id %}" class="action-link">Edit</a>
                                {% endif %}
                                {% if request.session.user.role == 'Admin' %}
                                | <a href="#" class="action-link delete-table-entry" table-id="inv/fishbuy" data-id="{{a_page.id}}">Delete</a>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

{% include 'pagination_control.html' %}

{% endblock %}
