<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
<h1>This is the Fishbuy Form!</h1>

<form action="{% url 'inventory:enter_fishbuy' %}" method="post">
    {% csrf_token %}
    <!-- CL: ++ -->
    <p>
        <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
        <input type="date" name="{{ form.date.label }}" required>
    </p>
    <!-- CL: -  -->
    {% for field in form %}
      {% if not field.label == form.date.label %}
       <p>
           <label for="{{ field.id_for_label }}">{{ field.label }}</label>
           {{ field }}
           {% if field.errors %}
              <div class="error">
                 {{ field.errors }}
              </div>
           {% endif %}
       </p>
        {% endif %}
    {% endfor %}
    <input type="submit" name="Enter">
</form>

</body>
</html>