{% extends 'layout.html' %}

{% block title %}
Food Distribution Table
{% endblock %}

{% block main-content %}
        <div class="table-wrapper">
            <h2>Food Distribution Table</h2>
            <div class="table-container">
                <table>
                        <tr>
                            <th>Date</th>
                            <th>Gher</th>
                            <th>Item</th>
                            <th>Amount</th>
                            <th>Unit</th>
                            {% if request.session.user.role == 'Admin' or request.session.user.role == 'Manager' %}
                            <th>Actions</th>
                            {% endif %}
                        </tr>
                    <tbody>
                    {% for a_page in page_objs %}
                        <tr>
                            <td>{{ a_page.date }}</td>
                            <td>{{a_page.gher}}</td>
                            <td>{{a_page.item}}</td>
                            <td>{{a_page.amount}}</td>
                            <td>{{a_page.unit}}</td>
                            {% if request.session.user.role == 'Admin' or request.session.user.role == 'Manager' %}
                            <td>
                                <a href="{% url 'inv:addup_fooddistribution' row_id=a_page.id %}" class="action-link">Edit</a>
                                {% endif %}
                                {% if request.session.user.role == 'Admin' %}
                                | <a href="#" class="action-link delete-table-entry" table-id="inv/fooddistribution" data-id="{{a_page.id}}">Delete</a>
                            </td>
                            {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

{% include 'pagination_control.html' %}

{% endblock %}
