{% extends 'layout.html' %}

{% block title %}
Units Table
{% endblock %}

{% block main-content %}
        <div class="table-wrapper">
            <h2>Units Table</h2>
            <div class="table-container">
                <table>
                        <tr>
                            <th>Unit</th>
                            {% if request.session.user.role == 'Admin' or request.session.user.role == 'Manager' %}
                            <th>Actions</th>
                            {% endif %}
                        </tr>
                    <tbody>
                    {% for a_page in page_objs %}
                        <tr>
                            <td>{{ a_page.unit }}</td>
                            {% if request.session.user.role == 'Admin' or request.session.user.role == 'Manager' %}
                            <td>
                                <a href="{% url 'inv:addup_units' row_id=a_page.id %}" class="action-link">Edit</a>
                                {% endif %}
                                {% if request.session.user.role == 'Admin' %}
                                | <a href="#" class="action-link delete-table-entry" table-id="inv/units" data-id="{{a_page.id}}">Delete</a>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

{% include 'pagination_control.html' %}

{% endblock %}
