{% extends 'layout.html' %}

{% block title %}
BiswasAgro - Earning Entry
{% endblock %}

{% block main-content %}
<div class="form-container">
    <div class="form-box">
        <h2>{{heading}}</h2>
            <form action="{% url 'costs:addup_earning' row_id=row_id %}" method="post">
                {% csrf_token %}
                <label for="{{ form.date.id_for_label }}">{{ form.date.label }}:</label>
                {{ form.date }}
                {{ form.date.errors }}

                <label for="{{ form.status.id_for_label}}">{{form.status.label}}:</label>
                <select name="{{form.status.name}}" id="{{ form.status.id_for_label}}">
                    {% for stat_id, stat_name in status.items %}
                      {% if request.session.orig.status == stat_id %}
                         <option value="{{ stat_id }}" selected>{{ stat_name }}</option>
                      {% else %}
                         <option value="{{ stat_id }}">{{ stat_name }}</option>
                      {% endif %}
                    {% endfor %}
                </select>
                {{ form.status.errors }}

                <label for="{{ form.sector.id_for_label }}">{{ form.sector.label }}:</label>
                <select name="{{form.sector.name}}" id="{{ form.sector.id_for_label }}">
                    {% for sec_id, sec_name in sectors.items %}
                      {% if request.session.orig.sector == sec_id %}
                         <option value="{{ sec_id }}" selected>{{ sec_name }}</option>
                      {% else %}
                         <option value="{{ sec_id }}">{{ sec_name }}</option>
                      {% endif %}
                    {% endfor %}
                </select>
                {{ form.sector.errors }}

                <label for="{{ form.item.id_for_label }}">{{ form.item.label }}:</label>
                <select name="{{form.item.name}}" id="{{ form.item.id_for_label }}">
                    {% for item_id, item_name in items.items %}
                      {% if request.session.orig.item == item_id %}
                         <option value="{{ item_id }}" selected>{{ item_name }}</option>
                      {% else %}
                         <option value="{{ item_id }}">{{ item_name }}</option>
                      {% endif %}
                    {% endfor %}
                </select>
                {{ form.item.errors }}

                <label for="{{ form.source.id_for_label }}">{{ form.source.label }}:</label>
                <select name="{{form.source.name}}" id="{{ form.source.id_for_label }}">
                    {% for source_id, source_name in sources.items %}
                      {% if request.session.orig.source == source_id %}
                         <option value="{{ source_id }}" selected>{{ source_name }}</option>
                      {% else %}
                         <option value="{{ source_id }}">{{ source_name }}</option>
                      {% endif %}
                    {% endfor %}
                </select>
                {{ form.source.errors }}

                <label for="{{ form.quantity_per_unit.id_for_label }}">{{ form.quantity_per_unit.label }}:</label>
                {{ form.quantity_per_unit }}
                {{ form.quantity_per_unit.errors }}

                <label for="{{ form.quantity.id_for_label }}">{{ form.quantity.label }}:</label>
                {{ form.quantity }}
                {{ form.quantity.errors }}

                <label for="{{ form.unit.id_for_label }}">{{ form.unit.label }}:</label>
                <select name="{{form.unit.name}}" id="{{ form.unit.id_for_label }}">
                    {% for unit_id, unit_name in units.items %}
                      {% if request.session.orig.unit == unit_id %}
                         <option value="{{ unit_id }}" selected>{{ unit_name }}</option>
                      {% else %}
                         <option value="{{ unit_id }}">{{ unit_name }}</option>
                      {% endif %}
                    {% endfor %}
                </select>
                {{ form.unit.errors }}

                <label for="{{ form.price.id_for_label }}">{{ form.price.label }}:</label>
                {{ form.price }}
                {{ form.price.errors }}

                <label for="{{ form.memo.id_for_label }}">{{ form.memo.label }}:</label>
                {{ form.memo }}
                {{ form.memo.errors }}

                <label for="{{ form.comment.id_for_label }}">{{ form.comment.label }}:</label>
                {{ form.comment }}
                {{ form.comment.errors }}

            <div class="button-group">
                <button type="button" onclick="history.back()" class="cancel-btn">Cancel</button>
                <button type="submit" class="save-btn">Save</button>
            </div>
</form>
</div>

{% endblock %}
