{% extends 'layout.html' %}

{% block title %}
BiswasAgro - Investment Entry
{% endblock %}

{% block main-content %}
<div class="form-container">
    <div class="form-box">
        <h2>{{heading}}</h2>
            <form action="{% url 'costs:addup_investment' row_id=row_id %}" method="post">
                {% csrf_token %}
                <label for="{{ form.date.id_for_label }}">{{ form.date.label }}:</label>
                {{ form.date }}
                {{ form.date.errors }}

                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
                {{ form.name }}
                {{ form.name.errors }}

                <label for="{{ form.amount.id_for_label }}">{{ form.amount.label }}:</label>
                {{ form.amount }}
                {{ form.amount.errors }}

                <label for="{{ form.comments.id_for_label }}">{{ form.comments.label }}:</label>
                {{ form.comments }}
                {{ form.comments.errors }}

            <div class="button-group">
                <button type="button" onclick="history.back()" class="cancel-btn">Cancel</button>
                <button type="submit" class="save-btn">Save</button>
            </div>
</form>
</div>

{% endblock %}
