{% extends 'layout.html' %}

{% block title %}
BiswasAgro - Expenses Entry
{% endblock %}

{% block main-content %}

<div class="form-container">
    <div class="form-box">
        <h2>{{heading}}</h2>
            <form action="{% url 'costs:addup_cost' row_id=row_id %}" method="post">
                {% csrf_token %}
                <label for="{{ form.date.id_for_label }}">{{ form.date.label }}:</label>
                {{ form.date }}
                {{ form.date.errors }}

                <label for="{{ form.costcategory.id_for_label}}">{{form.costcategory.label}}:</label>
                <select name="{{form.costcategory.name}}" id="{{ form.costcategory.id_for_label}}">
                    {% for exp_acct in expense_accounts %}
                      {% if request.session.orig.costcategory == exp_acct %}
                         <option value="{{ exp_acct }}" selected>{{ exp_acct }}</option>
                      {% else %}
                         <option value="{{ exp_acct }}">{{ exp_acct }}</option>
                      {% endif %}
                    {% endfor %}
                </select>
                {{ form.costcategory.errors }}

                <label for="{{ form.costitems.id_for_label}}">{{form.costitems.label}}:</label>
                <select name="{{form.costitems.name}}" id="{{form.costitems.id_for_label}}">
                    {% for prod_name in product_names %}
                      {% if request.session.orig.costitems == prod_name %}
                       <option value="{{ prod_name }}" selected>{{ prod_name }}</option>
                      {% else %}
                       <option value="{{ prod_name }}">{{ prod_name }}</option>
                      {% endif %}
                    {% endfor %}
                </select>
                {{ form.costitems.errors }}

                <label for="{{ form.buyamount.id_for_label}}">{{form.buyamount.label}}:</label>
                {{ form.buyamount }}
                {{ form.buyamount.errors }}

                <label for="{{ form.unit.id_for_label}}">{{form.unit.label}}:</label>
                <select name="{{form.unit.name}}" id="{{ form.unit.id_for_label}}">
                    {% for unit in units %}
                      {% if request.session.orig.unit == unit %}
                      <option value="{{ unit }}" selected>{{ unit }}</option>
                    {% else %}
                      <option value="{{ unit }}">{{ unit }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                {{ form.unit.errors }}

                <label for="{{ form.cost.id_for_label}}">{{form.cost.label}}:</label>
                {{ form.cost }}
                {{ form.cost.errors }}

                <label for="{{ form.buyer.id_for_label}}">{{form.buyer.label}}:</label>
                {{ form.buyer }}
                {{ form.buyer.errors }}

                <label for="{{ form.status.id_for_label}}">{{form.status.label}}</label>
                <select name="{{form.status.name}}" id="{{ form.status.id_for_label}}">
                    {% for stat_id, stat_val in status.items %}
                      {% if request.session.orig.status == stat_id %}
                         <option value="{{stat_id}}" selected>{{stat_val}}</option>
                      {% else %}
                         <option value="{{stat_id}}">{{stat_val}}</option>
                      {% endif %}
                    {% endfor %}
                </select>
                {{ form.status.errors }}

                <label for="{{ form.buyvoucher.id_for_label}}">{{form.buyvoucher.label}}:</label>
                {{ form.buyvoucher }}
                {{ form.buyvoucher.errors }}

                <label for="{{ form.comment.id_for_label}}">{{form.comment.label}}:</label>
                {{ form.comment }}
                {{ form.comment.errors }}

            <div class="button-group">
                <button type="button" onclick="history.back()" class="cancel-btn">Cancel</button>
                <button type="submit" class="save-btn">Save</button>
            </div>
</form>
</div>

{% endblock %}
