{% extends 'layout.html' %}

{% block title %}
Cost Table
{% endblock %}

{% block main-content %}
        <div class="table-wrapper">
            <h2>Cost Table</h2>
            <div class="table-container">
                <table>
                        <tr>
                            <th>Date</th>
                            <th>Category</th>
                            <th>Items</th>
                            <th>Amount</th>
                            <th>Unit</th>
                            <th>Cost</th>
                            <th>Buyer</th>
                            <th>Voucher</th>
                            <th>Comment</th>
                            {% if request.session.user.role == 'Admin' or request.session.user.role == 'Manager' %}
                            <th>Actions</th>
                            {% endif %}
                        </tr>
                    <tbody>
                    {% for a_page in page_objs %}
                        <tr>
                            <td>{{a_page.date}}</td>
                            <td>{{a_page.costcategory}}</td>
                            <td>{{a_page.costitems}}</td>
                            <td>{{a_page.buyamount}}</td>
                            <td>{{a_page.unit}}</td>
                            <td>{{a_page.cost}}</td>
                            <td>{{a_page.buyer}}</td>
                            <td>{{a_page.buyvoucher}}</td>
                            <td>{{a_page.comment}}</td>
                            {% if request.session.user.role == 'Admin' or request.session.user.role == 'Manager' %}
                            <td>
                                <a href="{% url 'costs:addup_cost' row_id=a_page.id %}" class="action-link">Edit</a>
                            {% endif %}
                            {% if request.session.user.role == 'Admin' %}
                                 | <a href="#" class="action-link delete-table-entry" table-id="costs/cost" data-id="{{a_page.id}}">Delete</a>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

{% include 'pagination_control.html' %}

<!--CL we can put a search selection here            -->
<!--<label for="c_search">Choose search</label>-->
<!--<select name="c_search" id="c_search">-->
<!--    <option value="date">date</option>-->
<!--    <option value="id">id</option>-->
<!--</select>-->
<!-- CL end search selection-->

{% endblock %}
