{% extends 'form-layout.html' %}

{% block title %}
BiswasAgro - Cost Entry
{% endblock %}

{% block heading %}
Enter Cost Data
{% endblock %}

<h1>This is the Cost Form Page!</h1>

{% block form %}
<form action="{% url 'costs:enter_cost' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.date.id_for_label }}">{{ form.date.label }}:</label>
<!--        <input type="date" id="{{ form.date.id_for_label }}" name="{{ form.date.html_name }}" required>-->
        {{ form.date }}
        {{ form.date.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.costcategory.id_for_label}}">{{form.costcategory.label}}:</label>
        {{ form.costcategory }}
        {{ form.costcategory.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.costitems.id_for_label}}">{{form.costitems.label}}:</label>
        {{form.costitems}}
        {{form.costitems.errors}}
    </div>

    <div class="form-group">
        <label for="{{ form.buyamount.id_for_label}}">{{form.buyamount.label}}:</label>
        {{ form.buyamount }}
        {{ form.buyamount.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.unit.id_for_label}}">{{form.unit.label}}:</label>
        <!--<select id="unit"><option value="kg">kg</option><option value="litre">litre</option><option value="piece">piece</option><option value="person">person</option></select>-->
        {{ form.unit }}
        {{ form.unit.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.cost.id_for_label}}">{{form.cost.label}}:</label>
        {{ form.cost }}
        {{ form.cost.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.buyer.id_for_label}}">{{form.buyer.label}}:</label>
        {{ form.buyer }}
        {{ form.buyer.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.buyvoucher.id_for_label}}">{{form.buyvoucher.label}}:</label>
        {{ form.buyvoucher }}
        {{ form.buyvoucher.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.comment.id_for_label}}">{{form.comment.label}}:</label>
        {{ form.comment }}
        {{ form.comment.errors }}
    </div>

    <button type="submit" class="submit-btn">Save</button>
</form>
{% endblock %}
