{% extends 'layout.html' %}

{% block title %}
Cost Items Table
{% endblock %}

{% block main-content %}
        <div class="table-wrapper">
            <h2>Cost Items Table</h2>
            <div class="table-container">
                <table>
                        <tr>
                            <th>Costitems</th>
                            {% if request.session.user.role == 'Admin' or request.session.user.role == 'Manager' %}
                            <th>Actions</th>
                            {% endif %}
                        </tr>
                    <tbody>
                    {% for a_page in page_objs %}
                        <tr>
                            <td>{{a_page.costitems}}</td>
                            {% if request.session.user.role == 'Admin' or request.session.user.role == 'Manager' %}
                            <td>
                                <a href="{% url 'costs:addup_costitems' row_id=a_page.id %}" class="action-link">Edit</a>
                                {% endif %}
                                {% if request.session.user.role == 'Admin' %}
                                | <a href="#" class="action-link delete-table-entry" table-id="costs/costitems" data-id="{{a_page.id}}">Delete</a>
                            </td>
                            {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

{% include 'pagination_control.html' %}

<!--CL we can put a search selection here            -->
<!--<label for="c_search">Choose search</label>-->
<!--<select name="c_search" id="c_search">-->
<!--    <option value="date">date</option>-->
<!--    <option value="id">id</option>-->
<!--</select>-->
<!-- CL end search selection-->

{% endblock %}
