{% extends 'layout.html' %}

{% block title %}
Cost Table
{% endblock %}

{% block main-content %}
        <div class="table-wrapper">
            <h2>Cost Table</h2>
            <div class="table-container">
                <table>
                        <tr>
                            <th>Date</th>
                            <th>Category</th>
                            <th>Items</th>
                            <th>Amount</th>
                            <th>Unit</th>
                            <th>Cost</th>
                            <th>Buyer</th>
                            <th>Voucher</th>
                            <th>Comment</th>
                            <th>Logs</th>
                            <th>Actions</th>
                        </tr>
                    <tbody>
                    {% for a_page in page_objs %}
                        <tr>
                            <td>{{a_page.date}}</td>
                            <td>{{a_page.costcategory}}</td>
                            <td>{{a_page.costitems}}</td>
                            <td>{{a_page.buyamount}}</td>
                            <td>{{a_page.unit}}</td>
                            <td>{{a_page.cost}}</td>
                            <td>{{a_page.buyer}}</td>
                            <td>{{a_page.buyvoucher}}</td>
                            <td>{{a_page.comment}}</td>
                            <td>{{a_page.logs}}</td>
                            <td>
                                <a href="{% url 'costs:addup_cost' row_id=a_page.id %}" class="action-link">Edit</a> |
                                <a href="#" class="action-link delete-table-entry" table-id="costs" data-id="{{a_page.id}}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

{% include 'pagination_control.html' %}

{% endblock %}
