{% extends 'layout.html' %}

{% block title %}
BiswasAgro - Roles Entry
{% endblock %}

{% block main-content %}
<div class="form-container">
    <div class="form-box">
        <h2>{{heading}}</h2>
            <form action="{% url 'bisauth:addup_tblroles' row_id=row_id %}" method="post">
                {% csrf_token %}
                <label for="{{ form.role.id_for_label}}">{{form.role.label}}:</label>
                {{ form.role }}
                {{ form.role.errors }}

            <div class="button-group">
                <button type="button" onclick="history.back()" class="cancel-btn">Cancel</button>
                <button type="submit" class="save-btn">Save</button>
            </div>
</form>
</div>

{% endblock %}
