{% extends 'layout.html' %}

{% block title %}
BiswasAgro - Users Entry
{% endblock %}

{% block main-content %}
<div class="form-container">
    <div class="form-box">
        <h2>{{heading}}</h2>
            <form action="{% url 'bisauth:addup_usersinfo' row_id=row_id %}" method="post">
                {% csrf_token %}
                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
                {{ form.name }}
                {{ form.name.errors }}

                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}:</label>
                {{ form.username }}
                {{ form.username.errors }}

                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
                {{ form.email }}
                {{ form.email.errors }}

                <label for="{{ form.mobile.id_for_label }}">{{ form.mobile.label }}:</label>
                {{ form.mobile }}
                {{ form.mobile.errors }}

                <label for="{{ form.role.id_for_label }}">{{ form.role.label }}:</label>
                <select name="{{form.role.name}}" id="{{ form.role.id_for_label }}">
                    {% for role_id, role_name in roles.items %}
                      {% if request.session.orig.role == role_name %}
                         <option value="{{ role_name }}" selected>{{ role_name }}</option>
                      {% else %}
                         <option value="{{ role_name }}">{{ role_name }}</option>
                      {% endif %}
                    {% endfor %}
                </select>
                {{ form.role.errors }}

                <label for="{{ form.isactive.id_for_label }}">{{ form.isactive.label }}:</label>
                <select name="{{form.isactive.name}}" id="{{ form.isactive.id_for_label }}">
                    {% for active_id, active_txt in is_active.items %}
                      {% if request.session.orig.isactive == active_id %}
                         <option value="{{ active_id }}" selected>{{ active_txt }}</option>
                      {% else %}
                         <option value="{{ active_id }}">{{ active_txt }}</option>
                      {% endif %}
                    {% endfor %}
                </select>
                {{ form.isactive.errors }}

            <div class="button-group">
                <button type="button" onclick="history.back()" class="cancel-btn">Cancel</button>
                <button type="submit" class="save-btn">Save</button>
            </div>
</form>
</div>

{% endblock %}
