<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Change User's Password - BiswasAgro</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/support.js' %}" defer></script>
</head>
<body>
    <div class="register-container">
        <div class="form-box">
            <h2>Change User's Password</h2>
            <form action="{% url 'bisauth:admin_ch_pass' row_id=row_id %}" method="post">
                {% csrf_token %}

                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}:</label>
                <input type="text" value="{{ username }}" id="{{ form.username.id_for_label }}" disabled>
                {{ form.username.errors }}

                <input type="hidden" name="username" value="{{ username }}">

                <label for="{{ form.new_password.id_for_label }}">{{ form.new_password.label }}:</label>
                {{ form.new_password }}
                {{ form.new_password.errors }}

                <label for="{{ form.confirm_password.id_for_label }}">{{ form.confirm_password.label }}:</label>
                {{ form.confirm_password }}
                {{ form.confirm_password.errors }}

                 {% if form.non_field_errors %}  {# Display non-field errors #}
                <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <div class="button-group">
                    <button type="button" onclick="history.back()" class="cancel-btn">Cancel</button>
                    <button type="submit" class="save-btn">Save</button>
                </div>

            </form>
        </div>
    </div>
</body>
</html>
