<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - BiswasAgro</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/support.js' %}" defer></script>
</head>
<body>
    <div class="register-container">
        <div class="form-box">
            <h2>Register a new account</h2>
            <label>Username</label>
            <input type="text" placeholder="Enter Username">
            <label>Password</label>
            <input type="password" placeholder="Enter Password">
            <label>Confirm Password</label>
            <input type="password" placeholder="Confirm Password">
            <button>Register</button>
            <p>Already have an account? <a href="{% url 'bisauth:login' %}">Log in here</a></p>
        </div>
    </div>
</body>
</html>
