{% extends 'layout.html' %}

{% block title %}
Staff Table
{% endblock %}

{% block main-content %}
        <div class="table-wrapper">
            <h2>Staff Table</h2>
            <div class="table-container">
                <table>
                        <tr>
                            <th>Name</th>
                            <th>Post</th>
                            <th>Salary</th>
                            <th>Address</th>
                            <th>Mobile</th>
                            <th>Reference</th>
                            {% if request.session.user.role == 'Admin' or request.session.user.role == 'Manager' %}
                            <th>Actions</th>
                            {% endif %}
                        </tr>
                    <tbody>
                    {% for a_page in page_objs %}
                        <tr>
                            <td>{{a_page.name}}</td>
                            <td>{{a_page.post}}</td>
                            <td>{{a_page.salary}}</td>
                            <td>{{a_page.address}}</td>
                            <td>{{a_page.mobile}}</td>
                            <td>{{a_page.reference}}</td>
                            {% if request.session.user.role == 'Admin' or request.session.user.role == 'Manager' %}
                            <td>
                                <a href="{% url 'bisauth:addup_staff' row_id=a_page.staffno %}" class="action-link">Edit</a>
                                {% endif %}
                                {% if request.session.user.role == 'Admin' %}
                                | <a href="#" class="action-link delete-table-entry" table-id="bisauth/staff" data-id="{{a_page.staffno}}">Delete</a>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

{% include 'pagination_control.html' %}

<!--CL we can put a search selection here            -->
<!--<label for="c_search">Choose search</label>-->
<!--<select name="c_search" id="c_search">-->
<!--    <option value="date">date</option>-->
<!--    <option value="id">id</option>-->
<!--</select>-->
<!-- CL end search selection-->

{% endblock %}
