{% extends 'layout.html' %}

{% block title %}
Users Table
{% endblock %}

{% block main-content %}
        <div class="table-wrapper">
            <h2>Users Table</h2>
            <div class="table-container">
                <table>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Roleid</th>
                            <th>Is Active</th>
                            {% if request.session.user.role == 'Admin' or request.session.user.role == 'Manager' %}
                            <th>Actions</th>
                            {% endif %}
                        </tr>
                    <tbody>
                    {% for a_page in page_objs %}
                        <tr>
                            <td>{{ a_page.name }}</td>
                            <td>{{ a_page.username }}</td>
                            <td>{{ a_page.email }}</td>
                            <td>{{ a_page.mobile }}</td>
                            <td>{{ a_page.roleid }}</td>
                            <td>{{ a_page.is_active }}</td>
                            {% if request.session.user.role == 'Admin' or request.session.user.role == 'Manager' %}
                            <td>
                                <a href="{% url 'bisauth:addup_usersinfo' row_id=a_page.id %}" class="action-link">Edit</a>
                                {% endif %}
                                {% if request.session.user.role == 'Admin' %}
                                | <a href="#" class="action-link delete-table-entry" table-id="bisauth/usersinfo" data-id="{{a_page.id}}">Delete</a>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

{% include 'pagination_control.html' %}

{% endblock %}
