        <div class="sidebar">
            <a href="{% url 'home' %}" class="sidebar-button">Home</a>
            <a href="{% url 'costs:show_cost_table' %}" class="sidebar-button">Cost Table</a>
            <a href="/" class="sidebar-button">Cost Purpose Table</a>
            <a href="/" class="sidebar-button">Earning</a>
            <a href="/" class="sidebar-button">Fishbuy</a>
            <a href="/" class="sidebar-button">Fishtype</a>
            <a href="/" class="sidebar-button">Investment</a>
            <a href="/" class="sidebar-button">Items</a>
            <a href="/" class="sidebar-button">Land</a>
            <a href="/" class="sidebar-button">Sectors</a>
            <a href="/" class="sidebar-button">Product</a>
            <a href="/" class="sidebar-button">Roles</a>
            <a href="/" class="sidebar-button">Units</a>
            <a href="/" class="sidebar-button">Users</a>
            <a href="/" class="sidebar-button">Log Out</a>
        </div>
