<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - BiswasAgro</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/support.js" defer></script>
</head>
<body>
    <div class="register-container">
        <div class="form-box">
            <h2>Login</h2>
            <label>Username</label>
            <input type="text" placeholder="Enter Username">
            <label>Password</label>
            <input type="password" placeholder="Enter Password">
            <button>Login</button>
            <p>Don't have an account? <a href="register.html">Register a new account</a></p>
        </div>
    </div>
</body>
</html>
